@use 'assets/styles/base/media-queries' as *;
@use 'assets/styles/base/px2rem' as *;

.flex-row {
  display: flex;
  flex-direction: row;
  gap: size(24);

  >* {
    flex: 1;
  }

  @each $key, $val in $breakpoints {
    &--column-until-#{$key} {
      @include until-breakpoint($key) {
        flex-direction: column;
      }
    }
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: size(24);
}